section 
{
	padding: 5%;
	position: relative;
	top: 50px;

	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5%;

}

article 
{
	background-color: #FFFFFF20;

	height: 600px;
}


#FORM
{
	grid-column: span 2;
	border-radius: 5%;

	font-size: x-large;
	padding: 0px 3%;
}

#FORM h1 
{
	border-bottom: 2px solid var(--primary);
}

#PREV
{
	border-radius: 60px 140px 40px 140px;
	font-size: 50px;
	text-align: center;
}
