section
{
	padding: 5%;
	position: relative;
	top : 70px;

	display: grid;
	grid-template-columns: repeat(auto-fill, 25%);
	grid-gap: 10%;

	text-align: center;

	height: 600px;

	margin-bottom: 0;
}

article
{
	background-color: #FFFFFF20;

	aspect-ratio: 1/1.5;

	border-radius: 60px 140px 40px 140px;

	font-size: 50px;
	
}


article img 
{
	width: 30%;
	margin-bottom: 0px;
	margin-top: 30px;


}

article h1
{
	margin: 0px;
	margin-top: 15px;
	font-size: 40px;

}

article h2
{
	margin: 0px;
	margin-top: 15px;
	font-size: 40px;
}


article input
{
	width: 50%;
	height : 30px;

	background-color :#FFFFFF00;
	color : var(--primary);
	border: 1px solid var(--primary);
	border-radius: 15px;
}

#FINISH
{
	height: 50px;
	margin-top: 40px;
}


.plusMoinsDiv
{
	width: 20%;
	aspect-ratio: 1;
}


.plusMoins
{
	border-radius: 30px;
	width: 100%;
	height: 100%;

	margin: 0;

	background-color :#FFFFFF00;
	color : var(--primary);
	border: 1px solid var(--primary);

	font-size: xx-large;
}

.plusMoins:active
{
	background-color: #6bade4;
}

article input:hover 
{
	border-width: 3px;
}

.plusMoins:hover
{
	border-width: 5px;
}

#CONT_COMPT
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#COMPT
{
	width: 50%;
}


#ADD a 
{
	color: var(--primary);
	display: block;
	margin: 0;
	text-decoration: none;
}

#ADD h1
{
	margin-bottom: -80px;
	font-size: 300px;
}